In [3]:
import pandas as pd
import numpy as np

# Load your environmental driver table ------------------
# Assume you have prepared daily data with columns:
#   date, site_id, temp, precip, nitrogen
env = pd.read_csv("../data/processed/daily_env.csv")

# make sure column names match
env = env.rename(columns={"time": "date"})   # if needed

def predict_yield(row, k=1.0):
    return k * row["nitrogen"] * row["precip"] * row["temp"]

env["yield_pred"] = env.apply(predict_yield, axis=1)

annual = (env
          .groupby(["site_id", env["date"].str[:4]])
          ["yield_pred"].sum()
          .reset_index(name="annual_yield"))

annual.head()

           site_id  date   annual_yield
0  lat51.3_lon11.8  2018  337359.027741
1  lat51.3_lon11.9  2018  350730.025900
2  lat51.4_lon11.8  2018  350633.341794
3  lat51.4_lon11.9  2018  363614.827593